<div class="loading-animation">
<section class="resume">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F64B;
            </span>    
            &nbsp; I've worked for
        </p>
    </div>
    <ul>

        {% include project-list.html %}

    </ul>
</section>


<section class="skill">
    <div class="resume-info">
        <p class="second-label">
            <span class="label-emoji">
                &#x1F4AA;
            </span>
            &nbsp; Available My Skill & Role
        </p>
    </div>    
    <ul>
        {% for skill-role in site.data.skill-roles %}
            <li class="skill_name">
                {{ skill-role.name }}
            </li>
        {% endfor %}
    </ul>
</section>
</div>    